body{
  background-color: #eaeaea;
  font-family: sans-serif;
}

  nav{
    width: 100%;
    background-color: #f5f5f5;
  }

  ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  li a {
    display: block;
    text-decoration: none;
    color: orange;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: orange;
  }
  
  input {
    width: 400px;
  }
  
  .input {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .articleForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 10px;
  }

  .articleFormEdit{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .articleInput{
    width: 100%;
    outline: orange ;
    box-shadow: 2px 2px 2px orange;
  }

  .articleText{
    width: 100%;
    outline: orange;
    box-shadow: 2px 2px 2px orange;
  }

  .articleButton{
    background-color: orange;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .articleButton:disabled{
    opacity: 50%;
  }

  .form{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .listeRecette {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }

  .listeArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .article_header{
    display: flex;
    justify-content: space-between;
  }

  .article_header h2, .article p{
    margin-top: 0;
  }

  .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .button button{
    padding: 5px;
  }

  .article{
    width: 95%;
    padding: 20px;
    background-color: #fff;
    border: 1px orange solid;
    border-radius: 10px;
  }
  
  .recette {
    width: 300px;
    height: auto;
    padding: 20px;
    text-align: center;
    border: 1px orange solid;
    border-radius: 10px;
  }
  
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .recette img {
    width: 300px;
    height: 300px;
    object-fit: overflow;
  }
  